.stammbaum-view {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid var(--background-modifier-border);
	overflow: auto;
}
.stammbaum-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	background-color: rgb(150, 108, 3);
	border-radius: 5px;
	border-color: rgb(71,21,0);
	position: absolute;
	cursor: grab;
	user-select: none;
	min-width: 180px;
}
.stammbaum-parent {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	position: relative;
	min-height: 100%;
	font-family: fantasy;
	font-size: 1.1em;
}
.stammbaum-element.dragging {
	cursor: grabbing;
	z-index: 1001;
	background-color: purple;
}
.stammbaum-parents {
	display: grid;
	flex-direction: vertical;
	align-items: center;
	margin: 10px;
	font-family: fantasy;
	font-size: 1.1em;
}
.stammbaum-date-of-birth {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	font-family: fantasy;
}
.stammbaum-date-of-death {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	font-family: fantasy;
}
.stammbaum-name {
	font-size: 1.6em;
	font-weight: bold;
	margin: 15px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	hover {
		text-decoration: underline;
		color: aliceblue;
	}
	
}
.stammbaum-canvas {
	border: 1px solid var(--background-modifier-border);
	margin-top: 10px;
}
.tick-button {
	font-family: Arial, Helvetica, sans-serif;
	hover {
		background-color: gray;
		color: #e4e4e4;
	}
}
.ticked {
	background-color: #542121;
}
.untickable {
	text-decoration: line-through;	
}
.stammbaum-timeline {
	background-color: grey;
}
.stammbaum-no-relevant-files {
	font-family: 'Arial', Courier, monospace;
}
